<!DOCTYPE html>
<html lang="en" ng-app="MPDapp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My perfect Destination</title>
   <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./assets/css/style.css">
	
</head>
<body layout="column" ng-controller="AppCtrl">
        <md-toolbar layout="row">
                <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                    <span class="visuallyhidden">Menu</span>
                </button>
                <h1 class="md-toolbar-tools titelmpd" hide-sm>My perfect destination</h1>
            <div flex class="md-toolbar-tools" layout="row" layout-align="end">
                                   
                    <span class="profilepicwrapper">
                        <img class="profilepic" src="./assets/images/proflepics/me.png" alt="profile picture of Jurgen Barbier">
                    </span>
                    <a class="menulink" href="">
                    Jurgen Barbier
                </a>

                <a class="menulink" href="">
                    <img class="logoutbutton" src="./assets/images/icons/logout.svg" alt="">
                </a>
            </div>          
        </md-toolbar>
        <div flex layout="row">
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-list layout="column" class="categorie-list">
                    <md-item ng-repeat="it in muppets">
                        <md-item-content>
                            <md-button ng-click="selectMuppet(it)" ng-class="{'selected' : it === selected }">
                                <img ng-src="<% it.iconurl %>" class="face" alt="">
                                <% it.name %> vacations
                            </md-button>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-sidenav>
            <md-content layout="column" flex  >
                <div id="banner" layout="Row">
                    <div flex-sm="60" flex-md="50" flex-gt-md="70" class="location">
                        <img class="svg-small" src="./assets/images/icons/geo.svg" alt="">
                        Berlin
                        <span class="small-text">Germany, Europe</span>
                    </div>
                    <div flex-sm="20" flex-md="25" flex-gt-md="15" class="besttime">
                        <img class="svg-md promo-img" src="./assets/images/icons/today.svg" alt="">
                        Best time to visit
                        <h2>March</h2>
                    </div>
                    <div flex-sm="20" flex-md="25" flex-gt-md="15" class="cheapestticket">
                        <img class="svg-md promo-img" src="./assets/images/icons/cheap.svg" alt="">
                        Average cost
                        <h2>€250</h2>
                        per person
                        per night
                    </div>
                </div>
                <div>
                    <h2><% selected.name %> vacations</h2>
                    <md-list ng-repeat="dest in dests | filter:{ id : selected.id}">
                        <md-item>
                            <md-item-content>
                                <div class="onedestination">
                                    <img src="./assets/images/berlin.jpeg" alt="">
                                    <div class="dest_info">
                                        <span layout="column">
                                            <p><% dest.name %></p>
                                            <p><% dest.id%></p>
                                        </span>
                                        <span class="matchperc">
                                            <p>78% match</p>
                                            <md-progress-circular class="md-primary md-hue-1" md-mode="determinate" value="78"></md-progress-circular>
                                        </span>
                                       
                                    </div>
                                </div>
                                
                            </md-item-content>
                        </md-item>
                    </md-list>
                       

                </div>
            </md-content>
        </div>
    
    <!-- Angular Material Dependencies -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>


    
    <!--All scripts related to angular app-->
    <script src="./src/app.js"></script>
    <script src="./src/controllers/AngAppCtrl.js"></script>
    <script src="./src/factories/AngAppAPI.js"></script>
    <script src="./src/factories/AngDestinationAPI.js"></script>
	
</body>
</html>