        <md-toolbar class="md-primary md-hue-3" layout="row">
                <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                    <span class="visuallyhidden">Menu</span>
                </button>
                <h1 class="md-toolbar-tools titelmpd" hide-sm><img src="../assets/images/logo.png"></h1>
            <div flex class="md-toolbar-tools" layout="row" layout-align="end">
                   <a class="menulink" href="#/app">Home</a>                
                    
                <a class="menulink borderleft" href="#/profile">
                    Jurgen Barbier
                </a>
                <span hide-sm class="profilepicwrapper">
                        <img class="profilepic" src="./assets/images/proflepics/me.png" alt="profile picture of Jurgen Barbier">
                    </span>
            </div>          
        </md-toolbar>
        <div flex layout="row">
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-list layout="column" class="categorie-list">
                    <md-item ng-repeat="it in muppets">
                        <md-item-content>
                            <md-button ng-click="selectMuppet(it)" ng-class="{'selected' : it === selected }">
                                <img ng-src="<% it.iconurl %>" class="face" alt="">
                                <% it.name %>
                            </md-button>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-sidenav>
            <md-content layout="column" flex>
                <div id="banner" layout="Row">
                    <div layout="row" layout-align="start end" flex-sm="60" flex-md="50" flex-gt-md="70" class="location">
                        <img class="svg-small" src="./assets/images/icons/geo.svg" alt="">
                        Berlin
                        <span class="small-text">Germany, Europe</span>
                    </div>
                    <div layout="column" layout-align="center center" flex-sm="20" flex-md="25" flex-gt-md="15" class="besttime">
                        <img class="svg-md promo-img" src="./assets/images/icons/today.svg" alt="">
                        Best time to visit
                        <h2>March</h2>
                    </div>
                    <div layout="column" layout-align="center center" flex-sm="20" flex-md="25" flex-gt-md="15" class="cheapestticket">
                        <img class="svg-md promo-img" src="./assets/images/icons/cheap.svg" alt="">
                        Average cost
                        <h2>€250</h2>
                        per person
                        per night
                    </div>
                </div>
                <div layout="column" layout-padding>
                    <h2><% selected.name %></h2>
                   
                    <div ng-show="loading" layout="row" layout-align="space-around">
                      <md-progress-circular md-diameter="20" id="loadgif" class="md-primary" md-mode="indeterminate"></md-progress-circular>
                    </div>
                    
                    <div ng-switch="selected.id">
<!-- car vakanties -->  
                        <div layout="row" ng-switch-when="1" layout-wrap>
                            <md-list id="destinationlist" layout="row" layout-wrap layout-align="center start"  ng-init="destinations()" >                        
                        <md-item ng-repeat="dest in destinations">
                          
                            <md-item-content>
                                <md-button class="md-primary"  ng-click="showAdvanced(dest)">
                               <md-card >
                                     <img class="dest_img" src="<% dest.image %>" alt="">
                                 <md-card-content style="width:100%;display:inline-block;" layout="row" >
                                       <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:70%;" layout="column" layout-align="start center">
                                           <span style="display:block;"><% dest.name  %></span>
                                           <span style="display:block;">Vanaf <% dest.priceDetails.food + dest.priceDetails.hotel | currency:'€ ' %></span>
                                        </span>
                                 </md-card-content>
                                </md-card>
                                </md-button>
                            </md-item-content>
                        </md-item>
                    </md-list>
                        </div>
<!-- SKi vakanties -->                       
                        <div layout="row" ng-switch-when="2" layout-wrap>
                            <md-list id="destinationlist" layout="row" layout-wrap layout-align="center start"  ng-init="skidestinations()" >                        
                                <md-item ng-repeat="dest in destinations | orderBy:'matchrate.total':reverse='true'">
                                    <md-item-content>
                                       <md-button class="md-primary"  ng-click="showAdvanced(dest)">
                                       <md-card >
                                             <img class="dest_img" src="<% dest.image %>" alt="">
                                         <md-card-content style="width:100%;display:inline-block;" layout="row" >
                                               <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:70%;" layout="column" layout-align="start center">
                                                   <span style="display:block;"><% dest.name  %></span>
                                                   <span style="display:block;">Vanaf <% dest.priceDetails.food + dest.priceDetails.hotel | currency:'€ ' %></span>
                                                </span>
                                                <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:25%;" layout="column" class="matchperc" layout-align="end center">
                                                    <p class="matchperctext"><% dest.matchrate.total | number:0 %>% match</p>
                                                        <md-progress-circular md-diameter="70" class="md-primary" md-mode="determinate" value="<% dest.matchrate.total | number:0 %>">
                                                </span>
                                         </md-card-content>
                                        </md-card>
                                        </md-button>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </div>
<!-- Sun vakanties -->                       
                        <div layout="row" ng-switch-when="3" layout-wrap>
                            <md-list id="destinationlist" layout="row" layout-wrap layout-align="center start"  ng-init="sundestinations()" >
                                <md-item ng-repeat="dest in destinations | orderBy:'matchrate.total':reverse='true'">
                                    <md-item-content>
                                        <a href="#/dest/<% dest.id %>">
                                       <md-card >
                                             <img class="dest_img" src="<% dest.image %>" alt="">
                                         <md-card-content style="width:100%;display:inline-block;" layout="row" >
                                               <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:70%;" layout="column" layout-align="start center">
                                                   <span style="display:block;"><% dest.name  %></span>
                                                   <span style="display:block;">Vanaf <% dest.priceDetails.food + dest.priceDetails.hotel | currency:'€ ' %></span>
                                                </span>
                                                <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:25%;" layout="column" class="matchperc" layout-align="end center">
                                                    <p class="matchperctext"><% dest.matchrate.total | number:0 %>% match</p>
                                                        <md-progress-circular md-diameter="70" class="md-primary" md-mode="determinate" value="<% dest.matchrate.total | number:0 %>">
                                                </span>
                                         </md-card-content>
                                        </md-card>
                                        </a>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </div>
<!-- fly vakanties -->  
                        <div layout="row" ng-switch-when="4" layout-wrap>
                            <md-list id="destinationlist" layout="row" layout-wrap layout-align="center start"  ng-init="destinations()" >                        
                        <md-item ng-repeat="dest in destinations">
                          
                            <md-item-content>
                               <md-button class="md-primary"  ng-click="showAdvanced(dest)">
                               <md-card >
                                     <img class="dest_img" src="<% dest.image %>" alt="">
                                 <md-card-content style="width:100%;display:inline-block;" layout="row" >
                                       <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:70%;" layout="column" layout-align="start center">
                                           <span style="display:block;"><% dest.name  %></span>
                                           <span style="display:block;">Vanaf <% dest.priceDetails.food + dest.priceDetails.hotel | currency:'€ ' %></span>
                                        </span>
                                 </md-card-content>
                                </md-card>
                                </md-button>
                            </md-item-content>
                        </md-item>
                    </md-list>
                        </div>
<!-- default vakanties -->  
                        <div layout="row" ng-switch-default layout-wrap>
                            <md-list id="destinationlist" layout="row" layout-wrap layout-align="center start"  ng-init="destinations()" >                        
                        <md-item ng-repeat="dest in destinations">
                          
                            <md-item-content>
                            <md-button class="md-primary"  ng-click="showAdvanced(dest)">
                               <md-card >
                                     <img class="dest_img" src="<% dest.image %>" alt="">
                                 <md-card-content style="width:100%;display:inline-block;" layout="row" >
                                       <span style="margin-bottom:10px;margin-top:10px;display:inline-block;width:70%;" layout="column" layout-align="start center">
                                           <span style="display:block;"><% dest.name  %></span>
                                           <span style="display:block;">Vanaf <% dest.priceDetails.food + dest.priceDetails.hotel | currency:'€ ' %></span>
                                        </span>
                                 </md-card-content>
                                </md-card>
                                </md-button>
                            </md-item-content>
                        </md-item>
                    </md-list>
                        </div>
                    </div><!-- end switch-->
                       
                </div>
                
            </md-content>
        </div>