        <md-toolbar layout="row">
                <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                    <span class="visuallyhidden">Menu</span>
                </button>
                <h1 class="md-toolbar-tools titelmpd" hide-sm>My perfect destination</h1>
            <div flex class="md-toolbar-tools" layout="row" layout-align="end">
                   <a class="menulink" href="#/app">Home</a>                
                    
                <a class="menulink borderleft" href="#/profile">
                    Jurgen Barbier
                </a>
                <span hide-sm class="profilepicwrapper">
                        <img class="profilepic" src="./assets/images/proflepics/me.png" alt="profile picture of Jurgen Barbier">
                    </span>
            </div>          
        </md-toolbar>
        <div flex layout="row">
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-list layout="column" class="categorie-list">
                    <md-item>
                        <md-item-content>
                            <md-button ng-click="settab(basic)">
                                <img ng-src="" class="face" alt="">
                                Basic info
                            </md-button>
                        </md-item-content>
                    </md-item>
                    <md-item >
                        <md-item-content>
                           <div layout="row" layout-margin layout-align="center center" ng-init="departures()">
                              <md-select style="display:block;" placeholder="Pick" ng-model="user.departurepoint" >
                                <md-option ng-repeat="dep in departurepoints" value="<% dep %>"><% dep.label %></md-option>
                              </md-select>
                            </div>
                        </md-item-content>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div layout="row" layout-margin flex>
                              <div flex="40" layout layout-align="center center">
                                <span class="md-body-1">Hotel stars</span>
                              </div>
                              <md-slider flex md-discrete ng-model="color.green" min="0" max="5" aria-label="green" id="green-slider" class="md-accent">
                              </md-slider>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-sidenav>

            <md-content layout="column" flex ng-init="activitycat()">
              <div>
                  <h1>attractions</h1>
                <% activitycategories.Attractions  %>
                    </div>
                    <div>    
                        <h1>Entertainement</h1>    
                <% activitycategories.Entertainment   %>
                    </div>
                    <div>
                <h1>outdoors</h1>
                <% activitycategories.Outdoors   %>
                    </div>
            </md-content>
        </div>